*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

min-height:100vh;

background:
radial-gradient(circle at 20% 20%, #3c33ff 0%, transparent 40%),
radial-gradient(circle at 80% 80%, #00ffcc 0%, transparent 40%),
linear-gradient(180deg,#050510,#14143a);

display:flex;
justify-content:center;
align-items:center;

color:white;

padding:20px;

}

/* container */

.container{

width:100%;
max-width:420px;

background:rgba(255,255,255,0.05);

backdrop-filter:blur(10px);

border-radius:25px;

padding:30px;

text-align:center;

box-shadow:0 0 30px rgba(0,0,0,0.5);

}

/* avatar */

.avatar{

width:110px;
height:110px;

border-radius:50%;

object-fit:cover;

margin-bottom:15px;

border:3px solid #00ffcc;

}

/* name */

h1{

font-size:26px;

margin-bottom:10px;

}

/* bio */

.bio{

opacity:0.8;

margin-bottom:25px;

font-size:15px;

}

/* links */

.links{

display:flex;
flex-direction:column;

gap:15px;

margin-bottom:25px;

}

.link{

display:flex;
align-items:center;

gap:12px;

padding:14px;

background:rgba(255,255,255,0.08);

border-radius:14px;

text-decoration:none;

color:white;

transition:0.25s;

}

.link img{

width:36px;
height:36px;

border-radius:8px;

object-fit:cover;

}

.link:hover{

transform:scale(1.04);

background:rgba(255,255,255,0.15);

}

/* socials */

.socials{

margin-bottom:25px;

display:flex;
justify-content:center;

gap:20px;

}

.socials a{

color:white;

font-size:22px;

transition:0.2s;

}

.socials a:hover{

transform:scale(1.2);

color:#00ffcc;

}

/* VIDEOS */

.videos{

display:flex;

gap:15px;

justify-content:center;

flex-wrap:wrap;

margin-top:10px;

}

.video{

width:170px;

text-align:center;

}

.video video{

width:100%;

border-radius:12px;

box-shadow:0 5px 20px rgba(0,0,0,0.5);

}

.video p{

margin-top:6px;

font-size:13px;

opacity:0.8;

}

/* description */

.desc{

margin-top:20px;

font-size:13px;

opacity:0.7;

}

/* responsive */

@media (max-width:500px){

.video{

width:100%;

}

}